.item {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: 1fr 2fr;
  gap: 1em;
  padding: 1em;
  border: 1px solid black;
  border-radius: 1em;
}

.info {
  grid-row: 1;
  grid-column: 1 / -1;
}

.details {
  grid-row: 1;
  grid-column: -1;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  gap: 1em;
}
